@import '../../variables.scss';

    .donations {
        z-index: 1;
        position: relative;
        max-width: 28em;
        margin: 2em;

        .donations-remaining {
            background-color: #E4EBFD;
            color: #5474C7;
            margin: 1em 0;
            padding: 0.75em 1em;
            border-radius: $borderRadius;
            position: relative;

            &::after {
              content: '';
              display: block;
              background-color: #E4EBFD;
              width: 2em;
              height: 2em;
              position: absolute;
              right: 2em;
              bottom: -0.25em;
              transform: rotate(45deg);
              border-radius: 0.2rem;
              z-index: -1;
            }

            strong {
              span {
                position: relative;
                font-size: 0.8em;
                top: -0.4em;
              }
            }
        }

      .donations-main {
        background: rgba(255, 255, 255, 0.151);
        backdrop-filter: blur(1em);
        margin-top: 1em;
        border-radius: $borderRadius;
        overflow: hidden;
        box-shadow: $boxShadow;
          
        .donations-main_inner {
          padding: 2em 2em 2.5em 2em;
          border: 1px solid rgba(0, 0, 0, 0.007);

          span {
            strong {
              color: black;
            }
          }
        }
      }

      .controls-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        display: flex;

        .controls {
          background-color: white;
          color: $blueDark;
          padding: 0.5em 1em;
          border: 2px solid $blueDark;
          border-radius: $borderRadius;
          font-weight: bold;
          font-size: 0.8rem;
          margin: 1rem 1rem 0 0;
          cursor: pointer;
          transition: 0.2s;
          box-shadow: $boxShadow;

          &:hover {
            background-color: $blueDark;
            color: white;
         }
        }
      }
    }

  
