@import '../../variables.scss';

.donations {
  position: relative;
  max-width: 26em;
  margin: 2rem;

  .donations-main {
    background: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(0.75em);
    margin-top: 1em;
    border-radius: $borderRadius;
    overflow: hidden;
    box-shadow: $boxShadow;
      
    .donations-main_inner {
      padding: 2em 2em 0em 2em;
      border: 1px solid rgba(0, 0, 0, 0.007);

      span {
        strong {
          color: black;
        }
      }
    }
  }
}


