@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap');
@import './variables.scss';

.App {
  box-sizing: border-box;
  background-color: #FAFBFF;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px; // scaling with vw optional... mixed px and vw just as an example...

  @include desktop() {
    font-size: 1.35vw;
  }

  * {
    box-sizing: border-box;
    line-height: 1.2;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    // confetti below form
    canvas {
      z-index: 0 !important;
    }

    h1 {
      font-weight: 700;
      font-family: 'Poppins', sans-serif;
      margin: 0 0 1em 0;
    }

    h2 {
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: normal;
      color: $greyDark;
      font-size: 1.05em;
      margin: 0 0 2em 0;
      display: inline-block;
    }
  }
}

