// color variables 
$greyDark: #73777B; 
$greyLight: #E3E1E6;
$greenLight: #B5F1E5;
$greenDark: #18CCA3;
$blueLight: #E4EBFD;
$blueDark: #4973BA;
$blueFocus: #3485F7;

// border/box shadow variables
$borderRadius: 0.5em;
$boxShadow: 0.1em 0.1em 0.8rem 0.1em rgba(128, 128, 128, 0.301);

// breakpoints (rough examples - can be fine tuned especially with vw scaling...
@mixin mobile () {
    @media only screen and (min-width: 768px) {
        @content;
      }
  }

  @mixin tablet () {
    @media only screen and (min-width: 1024px) {
        @content;
      }
  }

  @mixin desktop () {
    @media only screen and (min-width: 1200px) {
        @content;
      }
  }